<!-- login/bases/cardLogin.html -->

{% extends "login/bases/baseLogin.html" %} 
{% load static %}
{% block content %}
<div class="container-sm">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-3">
      <div class="card shadow bg-body-tertiary rounded-4">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <p class="text-center mx-auto m-0">
            {% block card_title %}{% endblock %}
            <img src="{% static 'img/logos/LogoBlack.png' %}" alt="Logo de la empresa" height="50">
          </p>
          <div class="mac-buttons d-flex">
            <div class="mac-button close bg-danger rounded-circle"></div>
            <div class="mac-button minimize bg-warning rounded-circle"></div>
            <div class="mac-button maximize bg-success rounded-circle"></div>
          </div>
        </div>
        
        <div class="card-body">
          <blockquote class="blockquote mb-0 bg-body-tertiary rounded-4">
            {% block card_content %} {% endblock %}
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}