<!-- usuarios/listar.html -->

{% extends 'bases/card.html' %}
{% block title %}Listado de Usuarios{% endblock %}
{% block card_title %}Listado de Usuarios{% endblock %}
{% block card_content %}
{% include 'bases/messages.html' %}


<div class="mb-3">
    <a href="{% url 'crear_usuario' %}" class="btn btn-primary me-2">
        <i class="fa-solid fa-user-plus fa-xl"></i> Crear Usuario
    </a>
</div>

<table class="table w-100 table-hover fs-6 table-responsive miTabla table-bordered text-center">
    <thead>
        <tr>
            <th class="text-center">#</th>

            <th class="text-center">Documento</th>
            <th class="text-center">Nombre Completo</th>
            <th class="text-center">Edad</th>
            <th class="text-center">Género</th>
            <th class="text-center">Estado Civil</th>
            <th class="text-center">Profesión</th>
            <th class="text-center">Escolaridad</th>
            <th class="text-center">Dirección</th>
            <th class="text-center">Celular</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ usuario.identificacion.codigo }} - {{ usuario.n_documento }}</td>
            <td>{{ usuario.nombres }} {{ usuario.apellidos }}</td>
            <td>{{ usuario.calcular_edad }}</td>
            <td>{{ usuario.genero.codigo }}</td>
            <td>{{ usuario.estadoCivil }}</td>
            <td>{{ usuario.profesion }}</td>
            <td>{{ usuario.escolaridad }}</td>
            <td>{{ usuario.zona }} {{ usuario.localidad }} - {{ usuario.direccion }}</td>
            <td>{{ usuario.telefono }}</td>
            <td>
                <a href="{% url 'actualizar_usuario' usuario.pk %}" class="btn fa-solid fa-pen btn-sm" style="color: #ffc107;"></a>
                <a href="#" class="btn fa-solid fa-trash-can btn-sm btn-dlt" style="color: #dc3545;" data-type="usuario" data-pk="{{ usuario.pk }}" data-name="{{ usuario.nombres }} {{ usuario.apellidos }}"></a>
            </td>    
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block content %}
    {% with container_class="w-100" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
