{% extends 'bases/landing/base.html' %}
{% block title %}Historia de la Empresa{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 font-weight-bold ">Nuestra Historia</h1>
    <p class="lead text-muted text-center mb-5">
        Desde 2024, hemos recorrido un camino transformador en el mundo del calzado.
    </p>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="bg-light p-4 rounded shadow-lg">
                <p class="text-justify mb-4">
                    Nacimos de la pasión por la moda y el deseo de ofrecer a los jóvenes una experiencia única en calzado. Nuestro primer local, situado en el corazón de la ciudad, fue un reflejo de nuestra visión: un espacio donde el estilo, la comodidad y la autenticidad se unen. Desde el primer día, nuestra misión ha sido empoderar a cada adolescente para que exprese su individualidad a través de su estilo personal.
                </p>
                <p class="text-justify mb-4">
                    A medida que la demanda creció, expandimos nuestra oferta más allá de las zapatillas deportivas, incorporando una amplia gama de accesorios que complementan cualquier look. Con cada paso, nos comprometimos a mantener los más altos estándares de calidad y atención al cliente, lo que nos permitió forjar relaciones duraderas con nuestros clientes y convertirnos en un referente en el ámbito del streetwear.
                </p>
                <p class="text-justify mb-4">
                    Hoy en día, nuestra empresa no solo representa un estilo de vida, sino también un movimiento hacia la inclusión y la sostenibilidad. Creemos en la importancia de la diversidad y estamos decididos a hacer un impacto positivo en la comunidad. Cada par de zapatos que ofrecemos está diseñado para brindar confianza y comodidad, ayudando a nuestros clientes a encontrar el calzado perfecto que se adapte a su vida diaria.
                </p>
                <p class="text-justify mb-4">
                    Al mirar hacia el futuro, mantenemos nuestro compromiso con la innovación. Estamos constantemente explorando nuevas tendencias y tecnologías para asegurarnos de que nuestros productos no solo sean de alta calidad, sino también respetuosos con el medio ambiente. Nuestra visión es seguir siendo líderes en el sector, promoviendo un estilo de vida que celebre la autoexpresión y el bienestar.
                </p>
                <p class="text-justify mb-4">
                    Gracias por ser parte de nuestra historia. Cada paso que das con nosotros es un paso hacia la creación de un futuro vibrante y lleno de estilo. ¡Sigamos marcando la diferencia juntos!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
