{% extends 'bases/landing/base.html' %}
{% block title %}Misión y Visión de la Empresa{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 font-weight-bold text-primary">Misión y Visión</h1>
    <p class="lead text-muted text-center mb-5">
        En cada paso, buscamos redefinir la experiencia del calzado juvenil.
    </p>
    <div class="row justify-content-center">
        <div class="col-lg-5 mb-4">
            <div class="bg-white p-4 rounded shadow-lg border border-success">
                <h2 class="font-weight-bold text-success">Misión</h2>
                <p class="text-justify mb-4">
                    Nuestra misión es ser la plataforma de elección para los jóvenes que buscan expresar su autenticidad a través de su estilo personal. Nos comprometemos a ofrecer calzado y accesorios de alta calidad que fusionen diseño innovador, confort excepcional y una estética contemporánea. Con cada producto, empoderamos a nuestros clientes a sentirse seguros y cómodos en su piel, inspirando una cultura de autoexpresión y confianza.
                </p>
            </div>
        </div>
        <div class="col-lg-5 mb-4">
            <div class="bg-white p-4 rounded shadow-lg border border-info">
                <h2 class="font-weight-bold text-info">Visión</h2>
                <p class="text-justify mb-4">
                    Nuestra visión es convertirnos en el líder indiscutible en el mercado de calzado juvenil, marcando tendencias en moda, sostenibilidad y responsabilidad social. Imaginamos un futuro donde cada joven pueda encontrar su voz única a través de su estilo, contribuyendo a un mundo más inclusivo y diverso. A través de la innovación constante y el compromiso con el medio ambiente, aspiramos a crear una marca que no solo venda productos, sino que también inspire un cambio positivo en la comunidad.
                </p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <p class="font-weight-light text-muted">
            Juntos, forjamos un camino hacia un futuro vibrante. Gracias por ser parte de nuestra misión y visión. ¡Hagamos historia juntos!
        </p>
    </div>
</div>
{% endblock %}
